

{% extends 'authenticate/base.html' %}

{% block content %}
<style>
{% load static %}
body {
background: url('{% static 'authenticate/blank_sky.jpg' %}');
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
p {
	text-align: center;
}
</style>
<body>
<h2 class="text-center">Login</h2>
<br>
<div class="col-md-6 offset-md-3">
	<form method="POST">
		{% csrf_token %}

	  <div class="mb-3">

	    <input type="text" class="form-control"  placeholder="Enter username" name="username">

	  </div>
	  <div class="mb-3">
	    <input type="password" class="form-control" placeholder="Enter password" name="password">
	  </div>

		<div class="container">
		  <div class="row">
		    <div class="col">
			<br>
		      <button type="submit" class="btn btn-primary btn-lg">Login</button>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<p>New to NightNotes? Sign up <a href="{% url 'register' %}">here.</a></p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			</div>
		</div>
	</form>

</div>

{% endblock %}
