{% extends 'authenticate/base.html' %}

{% block content %}

<h2 class="text-center">Login</h2>

<div class="col-md-6 offset-md-3">
	<form method="POST">
		{% csrf_token %}

	  <div class="mb-3">

	    <input type="text" class="form-control"  placeholder="Enter username" name="username">

	  </div>
	  <div class="mb-3">
	    <input type="password" class="form-control" placeholder="Enter password" name="password">
	  </div>

		<div class="container">
		  <div class="row">
		    <div class="col text-center">
		      <button type="submit" class="btn btn-primary btn-lg">Login</button>
					<br>
					<br>
					<p>New to NightNotes? Sign up <a href="{% url 'register' %}">here.</a></p>
				</div>
			</div>
		</div>
	</form>

</div>

{% endblock %}
